@charset "UTF-8";
body {
    background: black;
    color: white;
}

select {
    border: solid 1px #000;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}

select::-ms-expand {
    display: none;
}

.selectName {
    width: 150px;
    height: 30px;
    font-size: 14px;
    padding: 0 4%;
    margin: 0;
    border: 1px solid white;
    color: white;
}

.selectName option {
    text-align: center;
}

.inputName {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    font-size: 14px;
}

.titleName {
    margin-left: 50px;
    font-family: "微软雅黑";
    /* margin-top:30px;*/
}

.div01 {
    display: inline-block;
    float: left;
    margin-left: 100px;
}

.div02 {
    display: inline-block;
    float: left;
    margin-left: 100px;
}

.div03 {
    display: inline-block;
    float: left;
    margin-left: 50px;
    background: red;
    border-radius: 8px;
    width: 420px;
    height: 100px;
    /* margin-top:30px;*/
}

.btn {
    width: 180px;
    height: 40px;
    background: red;
    border-radius: 8px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.inputScore {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
}

.inputInterval {
    margin-top: 10px;
    width: 60px;
    margin-left: 10px;
}

.inputTime {
    margin-top: 10px;
}

.inputTitle {
    margin-left: 30px;
}

.diagram {
    display: inline-block;
    float: left;
    min-width: 380px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    /* border:1px solid red;*/
}