<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>try_vue</title>
    <script type="text/javascript" src="static/js/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model="message">
    <table>
        <tr>
            <td>
                {{message}}
            </td>
            <td>
                <li v-for="name in error">
                    {{error[$index]}}{{$index}}
                </li>
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript">

    function shownameInConsole(){
        console.log();
    }

    var name=['abc','def'];
    new Vue({
        el:'#app',
        data:{
            message:'hello',
            error:['abc','def']
        }
    })
</script>
</html>